* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(22, 22, 22);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formulario {
  display: flex;
}

#myform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 60px;
  margin-bottom: 20px;
  color: rgb(98, 196, 94);
  font: 30pt Arial;
  font-weight: bold;
  text-align: center;
}

#myform input {
  width: 200px;
  height: 30px;
  margin: 0px 13px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.lar {
  display: flex;
  align-items: center;
}

p {
  color: #fff;
  text-align: center;
  font: 13pt Arial;
}

.rodape {
  color: #fff;
  margin-top: 20px;
  font: 13pt Arial;
}

label {
  color: #fff;
  font: 13pt Arial;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(98, 196, 94);
}

button {
  padding: 13px 13px 13px 13px;
  background-color: rgb(98, 196, 94);
  color: #fff;
  border: none;
  width: 20%;
  border-radius: 6px;
  margin-top: 10px;
  outline: none;
}
